.accordeon{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 150px;
}

details{
    display: flex;
    flex: 0 0 100px;
    flex-direction: column;
    height: 100px;
    transition: height 1s;
    background-color: gray;
    border-radius: 10%;
}

details[open]{
    height: 200px;
}

details::before{
    content: "";
    width: 10px;
    height: 10px;
    position: relative;
    top: 0;
    left: 0;
    background-color: red;
}


summary{
    list-style: none;
}